@import url("https://use.typekit.net/fyn0jpd.css");

/*
Effra Regular

font-family: effra, sans-serif;

font-weight: 400;

font-style: normal;


Effra Italic

font-family: effra, sans-serif;

font-weight: 400;

font-style: italic;


Effra Bold

font-family: effra, sans-serif;

font-weight: 700;

font-style: normal;


Effra Bold Italic

font-family: effra, sans-serif;

font-weight: 700;

font-style: italic;


Effra Medium

font-family: effra, sans-serif;

font-weight: 500;

font-style: normal;


Effra Medium Italic

font-family: effra, sans-serif;

font-weight: 500;

font-style: italic;


Effra Heavy

font-family: effra, sans-serif;

font-weight: 900;

font-style: normal;
*/

.App {
  width: 100%;
  display: block;
  clear: both;
  overflow-y: auto;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li,div{
  font-family: effra, sans-serif;
}

h1,h2{
  font-weight: 700;
}

p{
  font-size: 16px;
}

h6{
  font-size: 21px;
}

h5{
  font-size: 28px;
}

h4{
  font-size: 35px;
}

h3{
  font-size: 42px;
}

h2{
  font-size: 49px;
}

h1{
  font-size: 56px;
}

.text-center{
  text-align: center;
}

.main-header-stadium{
  background: url('/MainHeaderBG.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
}

.league-divider{
  margin: 168px 0 28px 0;
}

.division-divider{
  margin: 56px 0 14px 0;
}

.sub-text{
  margin: 0px auto 35px auto;
}